.flex-container {
    display: flex;
    background-color: white;
    flex-direction: column-reverse;
    width: auto;
    height: auto;
    
  }
  .flex-container > div {
    padding: 20px;
    font-size: 30px;
    height: 40px;
    color: white;
    text-align: center;
  }
  .c1 {
    background-color: aqua;
  }
  .c2 {
    background-color: blueviolet;
  }
  .c3 {
    background-color: brown;
  }
  .c4 {
    background-color: yellow;
  }
  .c5 {
    background-color: green;
  }
  .c6 {
    background-color: palevioletred;
  }
  .c7 {
    background-color: red;
  }
  .c8 {
    background-color: grey;
  }
  .c9 {
    background-color: black;
  }
  .c10 {
    background-color: purple;
  }